@import "libs/bootstrap-reboot.min";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');


@import "base/variables";
@import "base/mixins";

* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 1180px;
    margin: 0 auto;
  }
  
  @import "blocks/about";
  @import "blocks/navbar";
  @import "blocks/passions";
  @import "blocks/button";
  @import "blocks/sidepanel";
  @import "blocks/media";