.btn {
    height: 58px;
    width: 196px;
    background: #608AF5;
    box-shadow: none;
    border-radius: 10px;
    padding: 10px 18px;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    &:hover  {
        background: #002265;

    }
} 