.navbar {
  display: flex;
  align-items: center;
  padding-top: 48px;
  height: 84px;
  width: 1173px;
    &__menu{
        display: flex;
        padding-top: 23px;
        &__li {
            width: 122px;
            text-align: end;
        }
        li {
            list-style-type: none;
            margin-right: 45px; 
            :hover {
                    font-weight: 400;
                    color: #608AF5;
                    text-shadow: none;
                }
            a {
                font-weight: 100;
                font-size: 25px;
                text-align: center;
                letter-spacing: 0.055em;
                color: #212121;
                
                 text-shadow: 1px 1px 2px #000000;
               
             } 
        } 
    }
    &__logo {
        margin-right: 326px;
    }
    &__btn {
        margin-top: -12px;

    }

    
}

.hamburger {
    display: none
}
    